<form [formGroup]="changepasswordForm" (ngSubmit)="onSubmit()" #myform="ngForm">
    <div class="form-group">
        <label class=" label" (click)="displayInputField()" [ngClass]="(typeValue)? 'typeText':'clickText'">
        Email <br>
        <input type="text" name="email" formControlName="email" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label class="label" [ngClass]="(typeValue)? 'typeText':'clickText'">
        New Password<br>
        <input type="password" name="password" formControlName="password" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label class="label" [ngClass]="(typeValue)? 'typeText':'clickText'">
        Confirm Password<br>
        <input type="password" name="confirmpassword" formControlName="confirmpassword" class="form-control">
        </label>
    </div>
    <div *ngIf="changepasswordForm.get('confirmpassword').errors">
        Passsword and Confirm Password didn't match.
    </div>
    <div class="form-group__btn" >
        <button type="submit " [disabled]="changepasswordForm.invalid" class="change-btn ">Change Password</button>
    </div>
</form>