.form-group {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin: 0px;
    border-bottom: 2px solid grey;
    margin-top: 30px;
    &__btn{
        border:none;
        margin: 50px;
        margin-bottom: 10px;
        text-align: center;
    }
}

.login_label {
    width: 100%;
}

.login-btn {
    background: transparent linear-gradient(90deg, #6A11CB 0%, #424CE8 59%, #3F50EA 63%, #2575FC 100%) 0% 0% no-repeat padding-box;
    width: 115px;
    border-radius: 4px;
    height: 40px;
    /* outline: none; */
    border: none;
    color: white;
    text-transform: uppercase;
    opacity: 1;
}
.error_mgs{
    color: red;
    font-weight: bold;
    font-size: 12px;
}
.form-control,.form-control:focus,.form-control:active{
    border: 0px;
    outline: 0px;
    padding: 0px;
    box-shadow: none;

}