.form-group {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin: 0px;
    border-bottom: 2px solid grey;
    margin-top: 30px;
    &__btn{
        border:none;
        margin: 50px;
        margin-bottom: 10px;
        text-align: center;
    }
    &__login_link{
        margin-top:28px;
        text-align: center;
    }
}

.label {
    width: 100%;
}

// click before enable input field
.clickText{
    font-size: 24px;
    .form-control{
        display: none;
    }
}
// click after enable input field
.typeText{
    font-size: 16px;
    .form-control{
        display: block;
    }
}

.form-control,.form-control:focus,.form-control:active{
    border: 0px;
    outline: 0px;
    padding: 0px;
    box-shadow: none;

}

.check_terms{
    font-size: 16px;
    margin-top: 68px;
    &__label{
        margin-left: 10px;
    }

}

.signup-btn {
    background: transparent linear-gradient(90deg, #6A11CB 0%, #424CE8 59%, #3F50EA 63%, #2575FC 100%) 0% 0% no-repeat padding-box;
    width: 115px;
    border-radius: 4px;
    height: 40px;
    /* outline: none; */
    border: none;
    color: white;
    text-transform: uppercase;
    opacity: 1;
}
button:disabled{
    background: grey;
}
.login_link{
    font-size: 16px;
    color: #6A11CB;

}